#navlist {
  overflow: hidden;
  padding: 5px;
  margin: 5px 5px 5px 10px;
}
#navlist li {
    margin: 1em;
    float: left;
    display: inline;
    list-style-type: none;
}
#navlist li a,
#navlist li p {
    font-size: 1.5em;
}
#navlist li a {
    -moz-box-shadow: 5px 5px 7px rgba(33,33,33,2.5);
    -moz-transform:rotate(-6deg);
    -moz-transition: -moz-transform .15s linear;
    -o-transform: rotate(-6deg);
    -o-transition: -o-transform .15s linear;
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -webkit-transform: rotate(-6deg);
    -webkit-transition: -webkit-transform .15s linear;
    background-color: #ffc;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    color: #000;
    display: block;
    font-family:"Reenie Beanie", sans-serif;
    height: 7em;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration:none;
    width: 14em;
}
#navlist li a.log {
    background-image: url([[pix:theme|profile/logout]]);
}
#navlist li a.myp {
    background-image: url([[pix:theme|profile/profile]]);
}
#navlist li a.mail {
    background-image: url([[pix:theme|profile/email]]);
}
#navlist li a.myf {
    background-image: url([[pix:theme|profile/myfiles]]);
}
#navlist li a.cal {
    background-image: url([[pix:theme|profile/calendar]]);
}
#navlist li a.my {
    background-image:  url([[pix:theme|profile/courses]]);
}
#navlist li a.log,
#navlist li a.myp,
#navlist li a.mail,
#navlist li a.myf,
#navlist li a.cal,
#navlist li a.my {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-top: 3em;
    height: 4em;
    width: 7em;
}
#navlist li:nth-child(even) a {
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    background-color: #cfc;
    position: relative;
    top: 5px;
}
#navlist li:nth-child(3n) a {
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    background-color: #ccf;
    position: relative;
    top: -5px;
}
#navlist li:nth-child(5n) a{
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    position: relative;
    top: -10px;
}
#navlist li a:hover,
#navlist li a:focus{
    -moz-box-shadow:10px 10px 7px rgba(128,128,128,.7);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -webkit-box-shadow: 10px 10px 7px rgba(128,128,128,.7);
    -webkit-transform: scale(1.25);
    box-shadow:10px 10px 7px rgba(128,128,128,.7);
    position:relative;
    z-index:5;
}